.NewFlightPage{
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    padding-left: 3vw;
    background-image: linear-gradient(0deg, #cd5f04, #e69455, #f7c999, #ffffe1);
    background-repeat: no-repeat;
    background-size: cover;
}

.NewFlightPageContainer{
    width: 44%;
    background-color: rgba(20, 19, 19, 0.729);
    backdrop-filter: blur(10px);
    box-shadow: rgba(7, 7, 7, 0) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 2vh 2%;
    border-radius: 0.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.NewFlightPageContainer button{
    width: 30%;
    margin-left: 35%;
}
.NewFlightPageContainer h2{
    margin: 0;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.NewFlightPageContainer p b{
    font-weight: 600;
}
.NewFlightPageContainer span{
    display: grid;
    grid-template-columns: 67% 30%;
    gap: 3%;
}
.NewFlightPageContainer .newFlightSpan1{
    display: grid;
    grid-template-columns: 54% 43%;
    gap: 3%;
}
.NewFlightPageContainer .newFlightSpan2{
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    gap: 3%;
}

.new-passenger h4{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(215, 137, 19);
}

.new-passenger-inputs{
    display: grid;
    grid-template-columns: 49% 15% 30%;
    gap: 3%;
}
.new-passenger-inputs select{
    padding-left: 12px;
}